@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030014; /* Mantém o preto cósmico profundo */
  color: #f8fafc;
  overflow-x: hidden;
}